<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <h1>Hey</h1>

  <% for (let i = 0; i < data.length; i ++) { %>
  <%= data[i].name  %>
  <% if(i > 0 && i < 30){ %> <p> <%= data[i].startDate %></p><% } %>





  <%}%>



  <% include ../partials/footer %>
</body>


</html>