<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<% include ../partials/nav %> <%= typeof msg != 'undefined' ? msg : '' %>
		<form
			id="loginInForm"
			action="/login"
			method="POST"
			enctype="application/x-www-form-urlencoded"
		>
			<label for="email">
				email adres
				<input
					type="text"
					id="email"
					name="email"
					placeholder="vul hier je email in"
					required
				/>
			</label>

			<label for="password">
				wachtwoord
				<input
					type="password"
					id="password"
					name="password"
					placeholder="vul hier je wachtwoord in"
					required
				/>
			</label>
			<button type="submit" id="submit">
				Inloggen
			</button>
		</form>

		<% include ../partials/footer %>
	</body>
</html>
