<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>


    <form id="loginForm" action="">
        <input type="text" id="email" name="email" placeholder="vul hier je email in">
        <label for="email">
            <input type="password" id="password" name="password" placeholder="vul hier je wachtwoord in">
            <label for="password">
                <button id="login">login</button>
                <a href="/signUp">Sign up</a>
                <button id="logout">logout</button>
    </form>


    <% include ../partials/footer %>
</body>


</html>